:root {
    --link-color: #517eff;                   /*#0e9edf */;  
    --faded: #a2a2a2;
    --b1: #b05454;
    --b2: #a66060;
    --a1: #912fe3;
    --a1b_op: rgba(126, 94, 215, 0.37);
    --a2: rgba(105, 53, 140, 0.73); /*#69358c;*/
    --highlight1: wheat;
  }
  
  body{
     /* background: #d9d9fb; */         /* pattern.png */
     /* background-image: url('pattern.png');  */
     
     background-repeat: no-repeat; 
     background-size:1300px auto;
     font-family: 'Muli', 'sans-serif';
     position: relative;
     margin: 0;
    
}
@media (min-width: 1300px){
    body{
        background-size: contain;
    }
}
body::after {
    content: "";
    background: #4956b9;
    background: radial-gradient(circle at 50%, #7b55a2, #fff6c10d 60%, var(--a1) 65%);
    /* opacity: 0.2; */
    /* opacity: 0.9; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.content{
    position: relative;
    /* padding: 0 4em 4em 4em; */
    
}

#header,
.content{
    max-width: 1300px;
    margin:0 auto;
}

.content > h2{
    background: var(--highlight1);
    padding: 0.3em 1.1em;
    display: inline-block; 
    border-radius:4px;
    /* border-top-right-radius: 4px; 
border-top-left-radius: 4px; */
    /* margin-bottom:0; */
}
 
a{
    text-decoration: none;
    color:  var(--link-color); 
    font-size: 1.3em;
}
p{
    padding-top: 0;
    padding-bottom: 5px;
    margin:0;
}
.expensive a {
    /* --link-color: var(--faded); */
}
.expensive .info1 i{
    color: var(--faded);
}
.expensive hr{
    color:#d5d5d5;
}
.faded{
    color: var(--faded);
}

.hr{
    padding: 0 20%;

}

/* h1, h2, h3, h4, h5{
    font-family: 'Muli','sans-serif';
} */
/* a:hover{
    border-bottom: var(--link-color) 1px solid;
} */
h1{
    margin-bottom: 1.8em;
    font-size: 1.9em;
    /* box-shadow: 1px 2px 2px 0px #040404; */
}
#header-wrap{
    background: var(--a1b_op);
    border-bottom: 1px solid var(--a2);
    margin-bottom: 3em;
}
#header {
    padding: 0.8em 0; 
    
}
#header p{
    color: var(--b2)
}
#header > h1{
    width:50%;
    padding: 0;
    margin-bottom: 0.2em;
    margin-top:0;
    /* padding: 0.3em 0; */
    color: var(--b1);
}
#header h1 + div{
    font-weight: normal;
    margin-left: 1.1em;
    color: white;
    letter-spacing: 1px;
}
h2{
    font-size: 1.25em;
}
.adswrap{
    flex-wrap: wrap; 
}
.ad{
    flex: 0 0 20%;
    /* min-height: 200px; */
    margin-right: 1.6%;
    padding:0.5em 1em 3em 1.2em;
    margin-bottom: 2em;
    /* background: white; */
    background:rgba(255, 255, 255, 0.75);
    background:rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    border: 6px solid transparent;
    font-size:91%;
}
.ad:first-child {
    /* border-top-left-radius: 0; */
}
hr{
    border-top: none;
    color: #bdbdbd;
      
}
.hr_first{
    margin-bottom: 2em;  
}
.hr_last{
    margin-top: 2em;

}
.infosection{
    width: 100%;
    flex-direction: column;
}
.infosection > div.flexctr > div{
    flex: 1 0 58%; 
}
.infosection > div{
    flex: 0 0 100%; 
    line-height: 1.9em;
}

.info1 > p{
    font-size: 1.2em;
}
.info1 > h2{
    min-height: 50px
}
.info1 a > i{
    margin-right: 7px;
    color: var(--link-color); 
}
.map-link * {
    color: rgb(162, 162, 162);
    margin-right: 7px;
    /* font-size:1em;  */
    line-height: 3.4em;
}
a > span:hover{
    border-bottom:var(--link-color) 1px solid;
}   
.map-link a > i{
    color:rgb(162, 162, 162);
}
.map-link a > span:hover{
    border-bottom: rgba(162, 162, 162,0.9) 1px solid;
}

.homesymbol{
    position:absolute;
    top: 0;
    right:0;
}
.homesymbol > i{
    font-size: 27em;
    color:rgba(66, 179, 255, 0.137);
}
.expensive *{
    color: var(--faded);

}
.flexctr{
    display:flex;
    /* min-height: 50px; */
}

.income_today{
    border: 6px solid var(--highlight1);
}
.size-bigger{
    font-size: 120%;
}

.size-smaller{
    font-size: 15px;
}

.notification{
    font-size: 170%;;
    color: black;  
    text-align: center
}